#quarto-content {
  /* Changing the border color to be 40% transparent using rgba */
  border-top: 1px solid rgba(206, 212, 218, 0.2);
  /* Adding z level priority */
  line-height: 1.8;
}

#quarto-document-content p {
  font-size: .85em;
}

#quarto-document-content li {
  font-size: .85em;
}


#quarto-document-content ul li {
  font-size: 1em; /* Set font size for list items in unordered lists */
}

#quarto-document-content ol li {
  font-size: 1em; /* Set font size for list items in unordered lists */
}